---
layout: full-width
title: 404 Not Found
permalink: /404.html
---
<h3>Sorry the page you are looking for has either moved or does not exist.</h3>
<h4>Please update your links... this page will redirect shortly.</h4>

<div class="col-left">
  <article class="post-content">
    <ul class="post-list">
      {% for post in site.categories.articles %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
    </ul>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  </article>
</div>

<div class="section">
  <div class="wrapper">
      <ul class="video-section">
        {% for post in site.categories.recordings limit:8 %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/asset/img/yt-images/{{post.img}}"></a>
            <p>{{ post.excerpt | truncatewords:15}}</p>
          </li>
        {% endfor %}
      </ul>

  </div>
</div>

<article class="post-content">
  <div class="maestro-list">
    {% for post in site.categories.maestros %}
      <figure><a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/asset/img/small/{{ post.img.small }}"><figcaption>{{ post.title }}</figcaption></a></figure>
      {% endfor %}
  </div>
</article>
