<h5 class="year">2016</h5>
<ul>
  <li>Berlin</li>
  <li>Hallein (Austria)</li>
  <li>Vienna (Austria)</li>
  <li>Paris</li>
  <li>Kempten (Germany)</li>
  <li>Jabalpur</li>
  <li>Rasa (Switzerland)</li>
</ul>
<h5 class="year">2015</h5>
<ul>
  <li>Copenhagen</li>
  <li>Fribourg Switzerland</li>
  <li>Poussire du Monde - Genve</li>
  <li>Geneva (Switzerland)</li>
  <li>Copenhagen</li>
  <li>Bubikon Zurich</li>
  <li>Copenhagen</li>
  <li>Berlin</li>
  <li>Krugzell/Altusried Allgu (Germany)</li>
  <li>Krugzell/Altusried (Germany) Workshop</li>
</ul>

<h5 class="year">2014</h5>
<ul>
  <li>New Delhi</li>
  <li>Khajuraho India</li>
  <li>Luzern Switzerland</li>
  <li>Luzern Switzerland</li>
  <li>Palezieux Switzerland</li>
  <li>Palezieux Switzerland</li>
  <li>Salzburg</li>
  <li>Amsterdam</li>
  <li>Chalons Sur Loire (France)</li>
  <li>St. Remy La Varenne (France)</li>
  <li>Lyngby Denmark Concert and Workshop</li>
  <li>Rasa Centovalli (Switzerland)</li>
  <li>Paris Centre</li>
  <li>Seelisberg (Switzerland)</li>
  <li>Palezieux (Switzerland)</li>
  <li>Malm (Sweden)</li>
  <li>Copenhagen</li>
</ul>
<p>For a complete list click <a href="concerts">here</a></p>
