<h5 class="year">2016</h5>
<ul>
<li>3rd February Berlin</li>
<li>4th, 5th February Hallein (Austria)</li>
<li>6th February Vienna (Austria)</li>
<li>20th March Paris</li>
<li>21st to 25th March Hannover</li>
<li>25th, 26th March Kempten (Germany)</li>
<li>2nd February Vienna (Austria)</li>
<li>16th April Jabalpur</li>
<li>6th May Ujjain</li>
<li>20th May Copenhagen</li>
<li>21st, 22nd May Salzburg, Hallein</li>
<li>1st July Memmingen</li>
<li>1st to 8th August Rasa (Switzerland)</li>
</ul>

<h5 class="year">2015</h5>
<ul>
<li>11th April Copenhagen</li>
<li>28th May Fribourg (Switzerland)</li>
<li>29th May Palezieux (Switzerland)</li>
<li>30th May Geneva (Switzerland)</li>
<li>31st May Geneva (Switzerland)</li>
<li>13th June Copenhagen</li>
<li>18th September Copenhagen</li>
<li>20th September Bubikon Zurich</li>
<li>7th November Copenhagen</li>
<li>12th November Berlin</li>
<li>13th November Berlin</li>
<li>14th November Krugzell/Altusried Allgäu (Germany)</li>
<li>15th November Krugzell/Altusried (Germany) Workshop</li>
</ul>
<p>For a complete list <a href="concerts">click here</a></p>
