<footer>
  <div class="wrapper">
    <div class="section-flex">
      <div class="footer-col">
        <p>Contact<br/>
        {{ site.email }}</p>
      </div>
      <div class="footer-col">
        <div class="social-media-buttons">
          <a href="https://www.facebook.com/Ashish-Sankrityayan-Dhrupad-Classical-Indian-Temple-and-Court-Music-72685762687/" class="fb" target="_blank">Facebook</a>
          <a href="https://plus.google.com/110383436101514546447" class="google" target="_blank">Google</a>
        </div>
      </div>
      <div class="footer-col">
        <p>{{ site.description }}</p>
        <p>Site design and development <a href="http://sanjaymaharishi.in/" target="_blank">SM</a></p>
      </div>
    </div>
  </div>
</footer>
