<header>

  <div class="wrapper header-flex">
    <div class="title-wrap">
      <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <div class="description">{{ site.description }}</div>
    </div>

    {% include nav.html %}

    <div class="out-site">
      <ul>
        <li><a href="https://dhrupad1234.wordpress.com/" target="_blank">Dhrupad Archives</a></li>
        <li><a href="http://www.dhrupad-film.de/" target="_blank">Dhrupad Film</a></li>
      </ul>
    </div>

  </div>
</header>
