<div class="section section-1">
  <div class="announce">
    {% include announce.html %}
  </div>
  <div class="splash-picture">
    <img src="{{ site.baseurl }}/asset/img/nasiruddin-ziauddin.jpg">
  </div>

</div>



<div class="section section-1">
  <div class="box-1">
    <img src="{{ site.baseurl }}/asset/img/ashish-sankrityayan-01.png">
    <a href="{{ site.baseurl }}/ashish-sankrityayan"><h3>About Ashish Sankrityayan</h3></a>
  </div>
  <div class="box-2"></div>
  <div class="box-3"></div>
</div>
<div class="section section-1"></div>
