<div class="section">
  <div class="wrapper">
    <div class="section-1 section-flex sub-section">
      <div class="announce">
        {% include announce.html %}
      </div>
      <div class="splash-picture">
        <img src="{{ site.baseurl }}/asset/img/nasiruddin-ziauddin.jpg"/>
        <span class="splash-text">Dhrupad is the oldest surviving form of Indian Classical music and traces its origin to the chanting of <a href="http://en.wikipedia.org/wiki/Vedic_chant" target="_blank" />vedic hymns and mantras</a>.</span>
      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="wrapper">
    <div class="section-flex sub-section section-2">
      <div class="three-boxes box-1">
        <img src="{{ site.baseurl }}/asset/img/ashish-sankrityayan-02.png" class="image-overlay">
        <h3><a href="{{ site.baseurl }}/ashish-sankrityayan">Ashish Sankrityayan</a></h3>
        <p>Ashish Sankrityayan is an exponent of the Dagar tradition of Dhrupad. He has trained for twenty years under three maestros of the Dagar family and is well known for his frequent concert appearances and teaching. Ashish Started his musical training at an early age, first learning the sitar and subsequently vocal music. <a href="{{ site.baseurl }}/ashish-sankrityayan">Continue...</a></p>
        <p><a href="{{ site.baseurl }}/interview/2006/03/01/interview-with-ashish-sankrityayan/">An interview with Ashish Sankrityayan</a></p>

      </div>
      <div class="gutter"></div>
      <div class="three-boxes box-3">
        <h3><a href="{{ site.baseurl }}/maestros">Dhrupad Maestros</a></h3>
        <p>For the past five centuries Dhrupad has mainly thrived under the patronage of Mughal and Rajput kings. The picture below shows Dhrupad singers Zākiruddin Khān, Allābande Khān, Ziāuddin Khān and Nasiruddin Khān  (clockwise from top left) the foremost Dhrupad singers in the beginning of the twentieth century.</p>
        <img src="{{ site.baseurl }}/asset/img/dagars.jpg">
      </div>
      <div class="gutter"></div>
      <div class="three-boxes box-2 concerts">
        <h3>Concerts</h3>
        {% include concerts-short.html %}
      </div>

    </div>
  </div>
</div>


<div class="section">
  <div class="wrapper">
    <div class="section-3 sub-section">
      <div class="row section-flex">
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/lkJFZqNFyMU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="gutter"></div>
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/QKIEUIM4Wf4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="gutter"></div>
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/SBzzwsy2wdI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="gutter"></div>
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/VT_kHWZYB18" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row section-flex">
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/WTEzsYfIyVk" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="gutter"></div>
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/wkCqcRvkdrs" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="gutter"></div>
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/may0R89gojw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="gutter"></div>
        <div class="video-box">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/0LtDvEG6M-E" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="section section-4">
  <div class="wrapper">
    <div class="section-flex">
      {% include about-dhrupad.html %}
    </div>
  </div>
</div>
