//footer

footer {
    border-top: 1px solid lighten($background-color, 10%);
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: $small-font-size;
  color: lighten($background-color, 30%);;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  flex: 1;
}

.social-media-buttons {
  a {
    height: 35px;
    width: 35px;
    font-size: 0;
    display: inline-block;
    background: url('/q3/asset/img/buttons-small.png');
    transition: background .2s;
  }
  .fb {
    background-position: -1px -76px;
    &:hover {
      background-position: -1px -1px;
    }
  }
  .google {
    background-position: -115px -76px;
    &:hover {
      background-position: -115px -1px;
    }
  }

}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
