//SECTION 1

.section {}
.section-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit 0;
  img {
    width: 100%;
    margin-bottom: $spacing-unit/2;
  }
  p {
    font-size: $small-font-size;
  }
}
.announce {
  flex: 1;
}
.clear-left {
  margin-right: $spacing-unit;
}
.splash-picture {
  flex: 2;
}

.three-boxes {
  width: 330px;
}
