//SECTION 1

.section {
  margin-bottom: $spacing-unit;
  padding: $spacing-unit 0;
}
.sub-section {
  border-bottom: 1px solid $nav-color;
}
.section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  img {
    width: 100%;
    margin-bottom: $spacing-unit/2;
  }
  p {
    font-size: $small-font-size;
  }
}
.announce {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.clear-left {
  margin-right: $spacing-unit;
}
.splash-picture {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  .splash-text {
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    font-size: 120%;
    font-weight: bold;
    position: relative;
    display: block;
    margin: -118px 0 $spacing-unit;
    padding: 10px;
  }
}

.three-boxes {
  flex: 5;
}
.gutter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.image-overlay {
  position: relative;
  margin-top: -200px;
  //padding-bottom: -200px;
}
.concerts {
  li {
  font-size: 0.75em;
  display: inline-block;
  }
}
.row {
  margin-bottom: $spacing-unit;
}
.video-box {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  height: 160px;
  background: black;
}
.text-column {
  -webkit-box-flex:11;
      -ms-flex:11;
          flex:11;
}
