//SECTION 1

.section-1 {
  border-bottom: 1px solid darken($background-color, 10%);
  margin-bottom: $spacing-unit;
}

.section {
  margin-bottom: $spacing-unit;
//  border-bottom: 3px solid red;
}
.sub-section {
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid darken($background-color, 10%);
}
.section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  img {
    width: 100%;
    margin-bottom: $spacing-unit/2;
  }
  p {
    font-size: $small-font-size;
  }
}
.section-1 {
  background: url('https://sama66.github.io/q3/asset/img/nasiruddin-ziauddin-01.jpg') #CCC;
  background-size: cover;
  background-position: center top;
}
.lead-box {
  padding: 280px 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.splash-text {
  background: rgba(245, 245, 245, 0.8);
  padding: 3px 0;
  color: #000;
  display: block;
  line-height: 1;
  width: 60%;
  text-align: center;

  h1 {
    color: #000;
    letter-spacing: -5;
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    margin-bottom: 0;
  }
}

.three-boxes {
  flex: 5;
}
.three-boxes.box-2 {
    flex: 7;
    background: darken($background-color, 5%);
    padding: $spacing-unit/2;
  }

.gutter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.box-2 p {
  font-size: 1em;
}
.concerts {
  li {
  font-size: 0.75em;
  display: inline-block;
  }
}
.row {
  margin-bottom: $spacing-unit;
}
.video-box {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  height: 160px;
  background: black;
}

// CD BOX
  .cd-box {
    width: 100%;
    display: flex;
    align-items: center;

      a {
        background: darken($background-color, 10%);
        color: black;
        transition: all .5s ease-in-out;
        img {
          transform: scale(1);
          transition: all 1s ease-in-out;
        }

        &:hover {
          box-shadow: 0 0 8px #333;

          img {
            transform: scale(1.2);
          }
        }
      }

  }
  .cd-label {
    flex: 2;

    h4 {
      line-height: 1;
      padding: 0;
      margin: 0;
      font-size: 1.5em;
    }
  }
  .cd {
    flex: 5;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px #888;

     h2, p {
       margin: 0;
       line-height: 0.9;
       }

  .cd-img {
    width: 80px;
    height: 80px;
    padding: 7px;
  }
  .cd-text {
    padding: 10px 10px 0;
    h2 {
      font-size: 1.85em;
      font-weight: 100;
    }
    p {
      font-size: .85em;
      margin-bottom: 3px;
    }
  }
}

.text-column {
  -webkit-box-flex:11;
      -ms-flex:11;
          flex:11;
}
