//SECTION 1

.section {}
.sub-section {
  border-bottom: 1px solid $nav-color;
}
.section-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit 0;
//  background: burlywood;
  img {
    width: 100%;
    margin-bottom: $spacing-unit/2;
  }
  p {
    font-size: $small-font-size;
  }
}
.announce {
  flex: 1;
}
.clear-left {
  margin-right: $spacing-unit;
}
.splash-picture {
  flex: 2;
  .splash-text {
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    font-size: 120%;
    font-weight: bold;
    position: relative;
    display: block;
    margin: -118px 0 $spacing-unit;
    padding: 10px;
  }
}

.three-boxes {
  flex: 5;
}
.gutter {
  flex: 1;
}
.image-overlay {
  position: relative;
  margin-top: -200px;
  //padding-bottom: -200px;
}
.concerts {
  li {
  font-size: 0.75em;
  display: inline-block;
  }
}

.video-box {
  flex: 7;
  height: 160px;
  background: black;
}
.text-column {
  flex:11;
}
