//Site header

header {
    border-bottom: 4px solid lighten($background-color, 10%);
    margin-top: $spacing-unit;
    padding-bottom: $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;
}
.title-wrap {
  max-width: 26%;
  display: flex;
  flex-direction: column;

  h1 {
    line-height: 1.2;
    letter-spacing: -2px;
    margin: 0;
    font-size: 3em;
  }

  .description {
    line-height: 1.1;
    font-size: 0.75em;
  }
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.out-site {
  text-align: right;
}
.site-title {

    &,
    &:visited {
        color: $title-color;
    }
    &:hover {
      text-decoration: none;
      color: darken($title-color, 10%);
    }
}

.site-nav {
    line-height: 1;
    display: flex;
    font-family: Trebuchet, sans-serif;

    .trigger {
      display: flex;
      align-items: center;
    }

    ul {
      float: left;
      margin-left: $spacing-unit;
      padding-bottom: 0;

      li {
        margin-bottom: 6px;
        font-size: 0.9em;

        a {
          color: $nav-color;

          &:hover {
            color: $link-color;
          }
        }
      }
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: darken($background-color, 30%);
        font-family: Trebuchet, sans-serif;
        line-height: 1.1;
        font-size: $small-font-size;
        font-weight: bold;
        text-transform: uppercase;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 100px;
            background: red;
        }

        &:hover {
          color: black;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #FFF;
        border: 1px solid $subtitle;
        border-radius: 5px;
        text-align: right;

        .site-nav {
          padding: 0;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #CCC;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
