//TWO COLOUMNS

.two-column {
  display: flex;
}

.col-left {
  flex: 2;
}

.col-right {
  flex: 1;
  line-height: 1.3;
  font-size: $small-font-size;

  .clearfix {
    border-left: 1px dashed brown;
    padding-left: $spacing-unit/2;
    margin-left: $spacing-unit/2;
  }
}
//PAGE CONTENT

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {

    > li {
        margin-bottom: $spacing-unit;


        h2 {
          margin: 0;
          padding: 0;
        }
    }
}

.post-meta {
    color: $subtitle;
    margin: 0;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    h1 {
      margin: 0;
      line-height: 1.05;
    }
}
img.image-left {
  float: left;
  margin-right: $spacing-unit/2;
  border: 2px solid #333;

  + em {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    color: #666;
    font-size: $small-font-size;
  }
}
img.image-right {
  float: right;
  margin-left: $spacing-unit/2;
  border: 2px solid #333;

  + em {
    float: right;
    text-align: right;
    width: 60%;
    color: #666;
    font-size: $small-font-size;
    margin-bottom: 10px;
  }
}
.image-center {
  align-self: center;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;


    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
