//MAESTRO LIST

ul.maestro-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  li {
    display: flex;
    margin: 0 10px $spacing-unit;
    max-width: 150px;
    height: 225px;
    border: 5px solid lighten($background-color, 5%);

    figcaption {
      position: relative;
      display: block;
      padding: 3px 2px 8px;
      text-align: left;
      font-size: 110%;
      top: -68px;
      line-height:1;
      font-weight: bold;
      color: #df8b27;
      transition: opacity 1s;
      background: rgba(0, 0, 0, 0.5);
    }

    a {

      figcaption {
        opacity: 0;
      }

      &:hover {

        figcaption {
          opacity: 1;
        }
      }
    }
  }
}


//MAESTRO PAGE

.three-column {
  display: flex;
}

.three-col-1 {
  flex: 4;

}
.three-col-2 {
  flex: 7;
  margin: 0 $spacing-unit/2;
}
.three-col-3 {
  flex: 3;
  text-align: right;
  line-height: 1.3;
  font-size: $small-font-size;

}
