@media screen and (max-width: $on-laptop) {
  .three-column {
    flex-wrap: wrap;
  }
  .three-col-1 {
    flex: 0 1rem;
  }
  .three-col-2 {
    flex: 1 20rem;
  }
  .three-col-3 {
    flex: auto;
  }
}

@media screen and (max-width: $on-palm) {
  body {
    background: snow;
    line-height: 1.3;
  }
  header {
    background: rgba(245, 245, 245, 0.2);
    position: fixed;
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
  }
  .site-title {
        &,
        &:visited {
            color: darken($title-color, 30%);
        }
  }
  .title-wrap {
    float: left;
    margin: 8px 0;

    h1 {
      margin: 0;
      font-size: 2em;
    }
  }
  .out-site,
  .description {
    display: none;
  }
  .site-nav ul {
    margin: 0 10px;
  }
  .trigger {
    padding: 5px 0;
  }



  .page-content {
    padding-top: 80px;
  }

  .section-flex {
    flex-direction: column;
  }
  .splash-picture {
    flex: 2;
    .splash-text {
      color: $text-color;
      background: rgba(0, 0, 0, 0.1);
      font-size: 110%;
      font-weight: normal;
      position: relative;
      margin: 0;
      padding: 3px;
    }
  }

  .image-overlay {
    margin: 0;
  }
  .two-column {
    display: block;
  }
  .col-right {
    .clearfix {
      border: 0;
      padding: $spacing-unit/2;
      margin-left: 0;
      background: darken($background-color, 10%);
    }
  }

  ul.maestro-list {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;

    li {
      margin: 3px;
    }
  }
  .three-column {
    flex-direction: column;
  }
  .three-col-2 {
    margin: 0;
  }
  .three-col-3 {
    background: $background-color;
    padding: 5px;
    text-align: left;
  }
}
