@media screen and (max-width: $on-laptop) {
  .three-column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .three-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1rem;
            flex: 0 1rem;
  }
  .three-col-2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 20rem;
            flex: 1 20rem;
  }
  .three-col-3 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

@media screen and (max-width: $on-palm) {
  body {
    background: snow;
    line-height: 1.3;
  }
  header {
    background: rgba(189, 157, 157, 0.15);
    position: fixed;
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
    height: auto;
  }
  .site-title {
        &,
        &:visited {
            color: darken($title-color, 30%);
        }
  }
  .title-wrap {
    margin: 8px 0;

    h1 {
      margin: 0;
      font-size: 2em;
      float: left;
    }
  }
  .header-email,
  .site-description {
    display: none;
  }
  .site-nav ul {
    margin: 0 10px;
  }
  .trigger {
    padding: 5px 0;
  }



  .page-content {
    padding-top: 68px;
    padding-left: 0;
  }
  .page-header {
    margin-bottom: $spacing-unit/2;
  }

  .section-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .splash-picture {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    .splash-text {
      color: $text-color;
      background: rgba(0, 0, 0, 0.1);
      font-size: 110%;
      font-weight: normal;
      position: relative;
      margin: 0;
      padding: 3px;
    }
  }

  .image-overlay {
    margin: 0;
  }
  .two-column {
    display: block;
  }
  .col-right {
    .clearfix {
      border: 0;
      padding: $spacing-unit/2;
      margin-left: 0;
      background: darken($background-color, 10%);
    }
  }

  ul.maestro-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    li {
      margin: 3px;
    }
  }
  .three-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .three-col-2 {
    margin: 0;
  }
  .three-col-3 {
    background: $background-color;
    padding: 5px;
    text-align: left;
  }
  .image-left, .image-right {
    float: none;
    width: 100%;
  }
}
