// Our variables
$base-font-family: 'David Libre', serif;
$header-font:      'Scope One', sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$title-color:      #c7ac7c;
$heading-color:    #254c47;
$text-color:       #000;
$background-color: #d8d6c2;
$link-color:      #df8b27;
$hover:           #000;

$subtitle:       lighten($heading-color, 3%);


// Width of the content area
$content-width:    960px;

$on-palm:          650px;
$on-laptop:        850px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
