.video-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  li {
    background: $title-color;
    font-size: 0.8em;
    line-height: 1.1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    padding: 3px;
    margin-bottom: 15px;
    box-shadow: 0 0 0;
    -webkit-transition  : color .3s, background 2s, box-shadow 2s;
    transition: color 2s, background 2s, box-shadow 2s ease-in-out;

    p {
      margin: 8px 0;
    }

    img {
      width: 100%;
      opacity: 0.7;
      -webkit-transition  : opacity 1s;
      transition: transform 150ms, opacity 1s;
    }
    &:hover {
      background: darken($background-color, 80%);
      color: white;
      box-shadow: 0 0 10px #666;

      img {
        opacity: 1;
        transform: scale(0.9);
      }
    }
  }
}
