.video-section {
//  background: linear-gradient(darken($background-color, 10%), darken($background-color, 20%));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    background: $title-color;
    font-size: 0.8em;
    line-height: 1.1;
    flex: 0 1 200px;
    padding: 3px;
    margin-bottom: 15px;
    box-shadow: 0 0 0;
    transition: color .3s, background 2s, box-shadow 2s;

    p {
      margin: 8px 0;
    }

    img {
      width: 100%;
      opacity: 0.7;
      transition: opacity 1s;
    }
    &:hover {
      background: darken($background-color, 30%);
      color: white;
      box-shadow: 0 0 10px #666;

      img {
        opacity: 1;
      }
    }
  }
}
