---
layout: full-width
---

  <div class="two-column">
    <div class="col-left">
      <article class="post-content">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.img %}<p><img src="{{ site.baseurl }}/asset/img/medium/{{ page.img.medium }}"></p>{% endif %}
        {{ content }}
      </article>
    </div>
    <div class="col-right">
      <div class="col-right">
        <div class="clearfix">
          {% include sidebar-list.html %}
        </div>
    </div>
  </div>
  </div>
